:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f6f7fb;
  color: #111;
}

button,
input,
textarea {
  font-family: inherit;
}
